<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE xml>
<Configuration status="WARN">
	<Appenders>
		<Console name="CONSOLE" target="SYSTEM_OUT">
			<PatternLayout pattern="%d{ISO8601} %-5p [%t]: %m%n" />
		</Console>
	</Appenders>

	<Loggers>
		<Root level="ALL">
			<AppenderRef ref="CONSOLE" level="${log4j.logging.console.level}" />
		</Root>
	</Loggers>
</Configuration>